.form-check-input {
  margin-top: 26px;
  margin-right: 30px;
}
.u-section-1 .u-sheet-1 {
  min-height: 150px;
}

.u-section-1 .u-text-1 {
  font-weight: 900;
  font-family: Montserrat-ExtraBold;
  margin: 60px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-weight: 700;
    font-family: ProximaNova-Regular;
    width: auto;
    margin-top: -53px;
    margin-left: 46px;
	margin-right: 44px;
  }
}

.u-section-2 .u-btn-2 {
  align: center;
  margin: auto;
}

@media (max-width: 500px) {
  .u-section-2 .u-tabs-1 {
    margin-top: -10px;
    margin-bottom: 150px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 1px;
  }

  .form-check-input {
	color: green; 
  }
	
  .u-section-2 .u-text-1 {
    margin-top: 260px;
  }

  .u-section-2 .u-btn-1 {
    padding: 4px;
  }

  .u-section-2 .u-btn-2 {
    border-style: solid;
    margin-top: -300px;
    margin-right: auto;
  }
}@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Montserrat-ExtraBold.ttf);
}@font-face {
  font-family: 'ProximaNova-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/ProximaNova-Regular.ttf);
}